<div class="entity">
    <h2>{{getLabel('LABELGROUPSMANAGEMENT')}}</h2>                 
    <br/>
    
    <form #groupForm="ngForm" novalidate="">
     
    <!-- SEARCH BOX -->	
    <div *ngIf="getMode() === 'list'" class="searchBox">
        <div class="col input-component">
            <label for="searchName" class="">{{getLabel('LABELNAME')}}</label>
              <input type="text" id="searchName" 
                [(ngModel)]='inputSearchName' name="searchName" #searchName="ngModel" 
                maxlength="38" (change)="filterList($event)"/> 
        </div>
    </div>
    <!-- SEARCH BOX -->	    

    <!-- USER LIST -->	
    <div class="gridList">
      <br/>
        <table *ngIf="getMode() === 'list'" class="">
        <colgroup><col><col><col><col><col></colgroup>
        <tr><th>{{getLabel('LABELNAME')}}</th><th class="btnth"></th><th class="btnth"></th></tr>
        <tr *ngFor="let elemgroup of this.groupsArray; let i = index">
            <ng-container *ngIf="showLinePage(i) === true && showLineFilters(i) === true">                        
                <td>{{elemgroup.name}}</td>
                <td><button class="btn btn-primary btnsmall" (click)="modifyGroup(i);"><span>M</span></button></td>
                <td><button class="btn btn-primary btnsmall" (click)="deleteGroup(i);"><span>D</span></button></td>            
            </ng-container>
        </tr>
        </table>
    </div>
    <!-- END USER LIST -->

    <!-- FORM ADD UPDATE USER -->
    <div *ngIf="getMode() === 'form'" class="linedBox"> 
        <ul>        
  
           <!-- FORM TITTLE -->
           <li>          
            <div class="formtitle">
              <div *ngIf="this.isUpdating()===true" class="divh3action"><h3>{{getLabel('LABELMODIFY')}} {{getLabel('LABELGROUP')}}</h3></div>                
              <div *ngIf="this.isUpdating()===false" class="divh3action"><h3>{{getLabel('LABELNEW')}} {{getLabel('LABELGROUP')}}</h3></div>                
                <!--<div *ngIf="dishsArray.length > 0" v-on:click="annuler()" class="icon--annuler"></div>-->
            </div>
          </li>
          <!-- FIN TITRE FORMULAIRE -->         
  
          <!-- FIELDS HIDDENS, LOGIN, PASSWORD, NAME AND SURNAME -->
          <li>        
            <div class="formulaire">                    
              <!--
                input type="hidden" name="input.index" #index="ngModel" [(ngModel)]="index" />
                <input type="hidden" name="input.id" #id="ngModel" [(ngModel)]="id" />
              -->

              
              <!--NAME-->              
              <div class="col input-component"
              (click)="showLabel('name')">
              <label for="inputName" class="">{{getLabel('LABELNAME')}} *</label>
              <input type="text" id="inputName"    
                  [(ngModel)]='name' name="inputName" #inputName="ngModel"
                  maxlength="38" (focus)="showLabel('name')" (blur)="blurLabel('name')"/>                            
              </div>                                           
              <div *ngIf="this.nameEmptyError" class="input-error"><span>{{errorMSGEmpty}}</span></div>
              <div *ngIf="this.nameNotCharError" class="input-error"><span>{{errorMSGChars}}</span></div>                            
              <!--END NAME-->       

              <!--IDTUTOR-->              
              <input type="hidden" id="inpuIdTutor"    
                  [(ngModel)]='idTutor' name="inpuIdTutor" #inputIdTutor="ngModel"
                  maxlength="38" (focus)="showLabel('idTutor')" (blur)="blurLabel('idTutor')"/>                            
              <!--END IDTUTOR-->                 

              <!--SCHOOL-->                            
              <div *ngIf="this.sessionService.isUserSuperadmin()" class="col input-component">
                <label for="inpuNameSchool" class="">{{getLabel('LABELSCHOOL')}} *</label>
                    <table class="tnovisual">
                    <colgroup><col><col></colgroup>                    
                      <tr><td>
                        <div *ngIf="this.isSelectingSchool() === false && this.isUpdating() === true" >
                        <input type="text" id="inpuNameSchool" disabled
                        [(ngModel)]='nameSchool' name="inpuNameSchool" #inputIdSchool="ngModel"
                        maxlength="38" (focus)="showLabel('nameSchool')" (blur)="blurLabel('nameSchool')"/>
                      </div>                    
                      <div *ngIf="this.isSelectingSchool() === true || this.isUpdating() === false" >
                        <select [(ngModel)]="schoolSelected" name="schoolSelect" (change)="reloadTeachers()">
                          <option [ngValue]="schoolSelect" *ngFor="let schoolSelect of schoolsArray">
                            {{schoolSelect.getName()}}
                          </option>
                        </select>    
                      </div>
                      </td>
                      <td class="btnth">
                        <button class="btn btn-primary btnsmall" (click)="selectSchool();"><span>M</span></button>
                      </td></tr>
                    </table>
                </div>                                                       
                <!--END SCHOOL-->   

              <!--TUTOR-->              
              <div class="col input-component">
              <label for="inpuNameTutor" class="">Tutor *</label>
                  <table class="tnovisual">
                  <colgroup><col><col></colgroup>                    
                    <tr><td>
                      <div *ngIf="this.isSelectingTutor() === false && this.isUpdating() === true" >
                      <input type="text" id="inpuNameTutor" disabled
                      [(ngModel)]='nameTutor' name="inpuNameTutor" #inputIdTutor="ngModel"
                      maxlength="38" (focus)="showLabel('nameTutor')" (blur)="blurLabel('nameTutor')"/>
                    </div>                    
                    <div *ngIf="this.isSelectingTutor() === true || this.isUpdating() === false" >
                      <select [(ngModel)]="tutorSelected" name="tutorSelect">
                        <option [ngValue]="tutorSelect" *ngFor="let tutorSelect of teachersArray">
                          {{tutorSelect.getName()}}
                        </option>
                      </select>    
                    </div>
                    </td>
                    <td class="btnth">
                      <button class="btn btn-primary btnsmall" (click)="selectTutor();"><span>M</span></button>
                    </td></tr>
                  </table>
              </div>                                                       
              <!--END TUTOR-->                  
        
            </div>                    
  
            <!--BOUTON ADD-->
            <div *ngIf="this.isUpdating() === false" class="fright">   
              <button class="btn btn-primary" (click)="addGroup();"><span>{{getLabel('LABELSAVE')}}</span></button>      
              <button class="btn btn-secondary" (click)="cancel();"><span>{{getLabel('LABELCANCEL')}}</span></button>  
            </div>
            <!--FIN BOUTON AJOUTER-->
  
            <!--BOUTTON UPDATE-->
            <div *ngIf="this.isUpdating() === true" class="fright">        
              <button class="btn btn-primary" (click)="addGroup();"><span>{{getLabel('LABELUPDATE')}}</span></button>  
              <button class="btn btn-secondary" (click)="cancel();"><span>{{getLabel('LABELCANCEL')}}</span></button>  
            </div>
            <!--END BOUTTON UPDATE-->
  
            <br class="clear">

          </li>
          <!-- END HIDDENS, LOGIN AND PASSWORD -->
  
        </ul>       
      </div>
      <!-- FIN FORM ADD UPDATE USER -->	

    <!--PAGINATION-->
    <!-- TODO -->
    <!--END PAGINATION-->
    
    <!-- BOUTTON ADD NEW USER -->
    <div class="fright">     
      <br/>
      <!--<button *ngIf="isShowAddNewBoutton() === true && groupsArray.length < this.MAXUSERS" class="btn btn-primary" (click)="addNewGroup();"> -->
          <button *ngIf="isShowAddNewBoutton() === true" class="btn btn-primary botonera" (click)="addNewGroup();">                
            <span class="">{{getLabel('LABELADDNEW')}} {{getLabel('LABELGROUP')}}</span>        
          </button>      
    </div>
    <br class="clear">
    <!-- END BOUTTON ADD NEW USER -->

    </form>

</div>